html {
    height: 98vh;
}
body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    font-family: 'roboto';
    background-color: blanchedalmond;    
    background-repeat:no-repeat;
    background-size: cover;
}

.main-title {
    font-size: 3em;
    color: black;
}

.subtitle {
    color: #79192b;
    font-size: 1.5em;
}

div.layer {
    width: 100%;
    height: 100%;
}

h2.subtitle {
    margin: 0;
}

div.score-info {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

div.score-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-score, .computer-score {
    color: #d45069;
    background-color: rgb(255, 248, 236);
    border: 4px solid  #d45069;
    padding: 0.5rem;
    width: 50%;
    font-weight: bolder;
    font-size: 16pt;
}

.result-text, .winner-text {
    font-size: 12pt;
    font-weight: bold;
}

img.choice-image {
    height: 125px;
}


div.main-content {
    color: #d45069;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 1rem;
}

div.info, div.options {
    position: relative;
    border: 4px solid #000000;
    border-radius: 10px;
    background-color: rgb(255, 248, 236);
    padding: 15px;
}

div.middle-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.result-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

div.options {
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

div.choices-container {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

div.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.circle-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid black;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    transition: 1s all;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button[value="rock"]:hover {
    background-color: rgba(30, 95, 30, 0.25)
}

button[value="paper"]:hover {
    background-color: rgba(236, 26, 26, 0.25)
}

button[value="scissors"]:hover {
    background-color: rgba(26, 89, 236, 0.25)
}


.arrow {
    height: 80px;
}


.score-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}